<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Last FM Demo</title>
</head>

<body>
	<div id="wrap">
		<%- body %>
	</div>
	<script src="js/jquery.js"></script>
</body>
</html>

